.changepassword label{
  color: #fff;
  font-size: large;
  font-family: cursive;
  font-weight: 600;
}
.changepassword h3{
    color: #00ffff;
    font-family: monospace;
    margin-top: 1rem;
    margin-bottom: 1rem;
}